body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Arial', sans-serif;
}

.blog-author-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-author-name {
    font-weight: bold;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 20px;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.blog-author-image {
    display: inline;
}


.blog-published {
    font-size: smaller;
    color: black;
}

.blog-author {
    font-size: smaller;
    color: hsl(0, 0%, 42%);
}

.blog-excerpt {
    font-size: larger;
    font-weight: bold;
}

.blog-image {
    width: 100%;
    border-radius: 10px;
}

.blog-title {
    margin-bottom: 10px;
    background-color: hsl(47, 88%, 63%);
    border: 8px solid none;
    border-radius: 5px;
    border-width: 100%;
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Arial', sans-serif;
    font-size: smaller;
}

.blog-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.excerpt-link {
    color: #000000;
    text-decoration: none;
}

.excerpt-link:hover {
    color: yellow;
}